.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 40px 2% !important;
}

.infected {
  border-bottom: 10px solid #00b8a9;
}

.recovered {
  border-bottom: 10px solid #f6416c;
}

.deaths {
  border-bottom: 10px solid #ffde7d;
}
